#define APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//
PlgBGf						PNG  DISCARDABLE		"../graphics/sc32_front.png"
PlgBGb						PNG  DISCARDABLE		"../graphics/sc32_back.png"
Plgknob						PNG  DISCARDABLE		"../graphics/kb1.png"
PlgBttnPush					PNG  DISCARDABLE		"../graphics/bck_bttn_1.png"
PlgBttnFlip					PNG  DISCARDABLE		"../graphics/bck_bttn_flip.png"
PlgBttnAdv					PNG  DISCARDABLE		"../graphics/adv_bttn.png"

#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION    3,2,0,0
 PRODUCTVERSION 3,2,0,0
FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004e4"
        BEGIN
			VALUE "CompanyName", "ScorchCrafter\0"
			VALUE "FileDescription", "C-120 VST Guitar Amp Head\0"
			VALUE "FileVersion", "3.2.0"
			VALUE "InternalName", "C-120"
			VALUE "LegalCopyright", "ScorchCrafter\0"
			VALUE "OriginalFilename", "C-120"
			VALUE "ProductName", "C-120"
			VALUE "ProductVersion", "3.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252
    END
END

#endif    // !_MAC
